.Certificates {
    background-color: black;
    position: relative;
    width: 100%;
    height: 100vh;
    float: right;
    border-left: 2px solid blue;
    overflow: hidden;
}

.Certificates h1{
    color: silver;
    padding: 40px;
    font-size: 48px;
}
.Slideshow{
    width: 100%;
}
@media (max-width: 1000px) {
    .Certificates{
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding-bottom: 200px;
    }
}
@media (max-width: 500px) {
    .Certificates{
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding-bottom: 300px;
    }
}